@{
    ViewBag.Title = "修改密码";
}
@model ViewModel.UpdatePasswordModel

<!--导航栏-->
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Tomato</a>
        </div>
        <!--[logo]>
        <a class="navbar-brand" href="#">
        </a> <!-->
        <ul class="nav navbar-nav " role="tablist">
            <li><a href="/Home/Index">首页</a></li>
            <li><a href="/PartyActivities/PartyIndex">社团互动</a></li>
            <li><a href="/MarketDownstairs/MarketIndex">楼下小铺</a></li>
            <li><a href="#">新生指南</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            @if (User.IsInRole("普通用户"))
            {
                // [@Html.ActionLink("个人中心", "PersonalInfo", "Account")]
                //[ @Html.ActionLink("注销", "LogOff", "Account") ]
                <li style="color:white">
                    <a>欢迎<small>@User.Identity.Name !</small></a>
                </li>
                <li class="active"><a href="/Account/PersonalInfo">个人中心</a></li>
                <li><a href="/Account/LogOff">注销</a></li>


            }
            @if (!User.IsInRole("普通用户"))
            {

                <li><a href="/Account/Reviselogin">登陆/注册</a></li>

            }
        </ul>
    </div>
</nav>

<div class="container" style="background-color:#fff;height:600px;">
    <div style="display:block;position:relative;top:50px;">
        <div>
            <h2><font style="font-weight:bolder">个人中心</font></h2>

        </div>

        <div style="display:block;position:absolute;left:150px; top:0px;">

            <ul class="nav nav-pills" role="tablist" style="background-color:#fff">

                <li class="active"><button class="btn btn-default" role="button" onclick="window.location='/Account/PersonalInfo'">个人信息</button> </li>
                <li><button class="btn btn-default" role="button">修改密码</button></li>

                <li><button class="btn btn-default" role="button">消息中心</button></li>
            </ul>
        </div>
        <div id="updatePassword" style="display:block;position:relative;left:150px;">

            @Html.ValidationSummary(true)
            @using (Html.BeginForm())
            {
                <table>
                    <tr>
                        <td><h3><font>旧密码：</font></h3></td>
                        <td>

                            @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", type = "password", placeholder = "旧密码" })
                        </td>
                        <td>
                            @Html.ValidationMessageFor(m => m.OldPassword)
                        </td>
                    </tr>
                    <tr>
                        <td><h3><font>新密码：</font></h3></td>
                        <td>

                            @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", type = "password", placeholder = "新密码" })
                        </td>
                        <td>
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </td>
                    </tr>
                    <tr>
                        <td><h3><font>新密码确认：</font></h3></td>
                        <td>
                            @Html.TextBoxFor(m => m.NewPasswordAgain, new { @class = "form-control", type = "password", placeholder = "新密码确认" })
                        </td>
                        <td>
                            @Html.ValidationMessageFor(m => m.NewPasswordAgain)
                        </td>
                    </tr>
                    <tr>
                        <td><h3><font>验证码：</font></h3></td>
                        <td>@Html.TextBoxFor(m => m.ConfirmCode, new { @class = "form-control", type = "text", placeholder = "验证码" })</td>
                        <td>@Html.ValidationMessageFor(m => Model.ConfirmCode)</td>
                    </tr>
                    <tr>
                        <td colspan="2"><img src='/Common/GetImage' /></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="btn btn-lg btn-primary">确认</button>
                        </td>
                    </tr>
                </table>
            }

        </div>


    </div>




</div>
