
@{
    ViewBag.Title = "UpdatePassword";
}

@model ViewModel.partyUpdatePasswordModel

<!--导航栏-->
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Tomato</a>
        </div>
        <!--[logo]>
        <a class="navbar-brand" href="#">
        </a> <!-->
        <ul class="nav navbar-nav " role="tablist">
            <li><a href="/Home/Index">首页</a></li>
            <li><a href="/PartyActivities/PartyIndex">社团互动</a></li>
            <li><a href="/MarketDownstairs/MarketIndex">楼下小铺</a></li>
            <li><a href="#">新生指南</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            @if (User.IsInRole("社团"))
            {
                // [@Html.ActionLink("个人中心", "PersonalInfo", "Account")]
                //[ @Html.ActionLink("注销", "LogOff", "Account") ]
                <li style="color:white">
                    <a>欢迎<small>@User.Identity.Name !</small></a>
                </li>
                <li class="active"><a href="/PartyActivities/SetPartyInfo?partyName=@User.Identity.Name">社团中心</a></li>
                <li><a href="/Account/LogOff">注销</a></li>



            }
            @if (!User.IsInRole("社团"))
            {

                <li><a href="/Account/PartyLoginIndex">登陆/注册</a></li>

            }
        </ul>
    </div>
</nav>


<div class="container" style="background-color:#fff;height:800px;">

    <div style="display:block;position:relative;top:54px;">



        @Html.Action("MyPartyInformation", new { partyName = @User.Identity.Name })

        @*导航菜单*@
        <ul class="nav nav-tabs" contenteditable="true" style="background-color:#eee7e7">
            <li id="mygoodli"><a onclick="window.location = '/PartyActivities/SetPartyInfo?partyName=@User.Identity.Name'" role="button">基本信息设置</a></li>

            <li id="myactivities"><a onclick="window.location = '/PartyActivities/MyPartyActivities?partyName=@User.Identity.Name'" role="button">社团活动</a></li>

            <li id="mynoticeli"><a onclick="window.location = '/PartyActivities/Notice?partyName=@User.Identity.Name'" role="button">通知</a></li>

            <li id="myupdatepassword" class="active"><a onclick="window.location = '/PartyActivities/UpdatePassword?partyName=@ViewBag.partyName'" role="button">修改密码</a></li>

        </ul>

        <div aria-multiline="True" style=" background-color:#fff ;overflow:scroll;height:auto;">
            @using (Html.BeginForm("UpdatePassword", "PartyActivities", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
            {

                <div id="party-infoform" style="display:block; position:relative;top:10px;">
                    <fieldset>

                        <div class="editor-label">
                            <label>旧密码：</label>
                            &nbsp;&nbsp;&nbsp;
                            @Html.TextBoxFor(m => m.oldPassword, new { @class = "form-control", type = "password", placeholder = "旧密码" })
                            @Html.ValidationMessageFor(m => Model.oldPassword)
                        </div>

                        <div class="editor-label">
                            <label>新密码：</label>
                            &nbsp;&nbsp;&nbsp;
                            @Html.TextBoxFor(m => m.newPassword, new { @class = "form-control", type = "password", placeholder = "新密码" })
                            @Html.ValidationMessageFor(m => Model.newPassword)
                        </div>

                        <div class="editor-label">
                            <label>新密码确认：</label>
                            &nbsp;&nbsp;&nbsp;
                            @Html.TextBoxFor(m => m.newPasswordAgain, new { @class = "form-control", type = "password", placeholder = "新密码确认" })
                            @Html.ValidationMessageFor(m => Model.newPasswordAgain)
                        </div>
                        <div class="editor-label">
                            <label>验证码：</label>
                            &nbsp;&nbsp;&nbsp;
                            @Html.TextBoxFor(m => m..confirmCode, new { @class = "form-control", type = "text", placeholder = "验证码" })
                            <br />
                            <img src='/Common/GetImage' />
                            @Html.ValidationMessageFor(m => Model.confirmCode)
                        </div>

                                       
                        <br />
                        <div class="editor-label">
                            <button type="submit" class="btn btn-primary">修改密码</button>
                        </div>
                    </fieldset>
                </div>

            }


        </div>
    </div>

</div>



